<!-- Validation failure messages -->

<% if @action.errors.any? %>
  <% @action.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Simple full-width example-->

<div class="page-header">
  <h1>Add Action</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_action" class="form-horizontal">
      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">
          Action description
        </label>
        <div class="col-sm-10">
          <input type="text" id="name" name="name" placeholder="e.g. 'follow up'" class="form-control" value="<%= @action.name %>">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Create Action" class="btn btn-success">
          or
          <a href="/actions">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>